<p><font size="6" color="#009999"> 
__TITLE__</font></p>
<br>
<blockquote>
<h2><b><font size="5" color="#009999">Shadow Service Control</font></b></h2>
<br>
<font size="2" color="#000000">Restart Shadow Service</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="connectorbridge" value="restart" onclick=restartShadowService() style="height:35px;width:80px">RESTART</button>
<br>
<br>
</blockquote>
<blockquote>
        <div id="shadow_service_config_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">Shadow Service Configuration</font></b></h2>
        __SHADOW_SERVICE_CONFIG_TABLE__
        </div>
</blockquote>
<br>
<blockquote>
        <div id="configurator_config_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">Configurator Admin Settings</font></b></h2>
        __CONFIGURATOR_CONFIG_TABLE__
        </div>
</blockquote>
