<p><font size="6" color="#009999"> 
__TITLE__</font></p>
<br>
<blockquote>
<h2><b><font size="5" color="#009999">Device Server Control</font></b></h2>
<br>
<font size="2" color="#000000">Restart mbed Device Server</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="mds" value="restart" onclick=restartMDS() style="height:35px;width:80px">RESTART</button>
<br>
<br>
<font size="2" color="#000000">Restart mbed MQTT Gateway</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="mqttgw" value="restart" onclick=restartMQTTGW() style="height:35px;width:80px">RESTART</button>
<br>
<br>
</blockquote>
<blockquote>
        <div id="configurator_config_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">mDS Config Admin Settings</font></b></h2>
        __CONFIGURATOR_CONFIG_TABLE__
        </div>
</blockquote>
<br>
<blockquote>
        <div id="ds_config_table" class="tableContainer" height="auto" width="auto" >
	<h2><b><font size="5" color="#009999">Device Server Configuration</font></b></h2>
        __DS_CONFIG_TABLE__
        </div>
</blockquote>
<br>
<blockquote>
        <div id="mqtt_gw_config_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">MQTT Gateway Configuration</font></b></h2>
        __MQTT_GW_CONFIG_TABLE__
        </div>
</blockquote>
<br>
<blockquote>
        <div id="ds_creds_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">Credentials Configuration</font></b></h2>
        __DS_CREDS_TABLE__
        </div>
</blockquote>
<br>
<blockquote>
        <div id="http_coap_media_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">HTTP CoAP Media Type Configuration</font></b></h2>
        __COAP_MEDIA_TYPE_TABLE__
        </div>
</blockquote>
<br>
<blockquote>
        <div id="logging_table" class="tableContainer" height="auto" width="auto" >
        <h2><b><font size="5" color="#009999">Logging Configuration</font></b></h2>
        __LOGGING_CONFIG_TABLE__
        </div>
</blockquote>
